<div class="row login">
    <div class="col-lg-8 text-center ">
    </div>
    <div class="col-lg-4">
      
        <form style="margin-top: 150px;" [formGroup]="userloginform" (ngSubmit)="userlogin()"  class="border  p-5 me-4" >
          
            <div class="mb-2">
            <h3 class="text-center text-light">User Login</h3>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="username" formControlName="username"  class="form-control" id="floatingInput" placeholder="Username">
                <label for="floatingInput">Username</label>
              </div>
              <div *ngIf="this.userloginform.get('username')?.errors&&this.userloginform.get('username')?.touched" class="text-danger mb-3">invalid username</div>
              <div class="form-floating">
                <input type="password" name="password" formControlName="password"  class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div *ngIf="this.userloginform.get('password')?.errors&&this.userloginform.get('password')?.touched"  class="text-danger mb-3">invalid Password</div>

              <div class="d-grid mt-3 button text-center justify-items-center align-items-center">
                <button  type="submit" class="btn btn-success">Login
                  <div *ngIf="loginstatus"  role="status">
                    <img style="width: 30px;" src="https://icon-library.com/images/ajax-loading-icon/ajax-loading-icon-18.jpg" alt="">
                  </div>
                </button>
                <p style="margin-top: 10px;color: white;">Click here to<a style="text-decoration: none;" routerLink="register"> Register</a></p>
              </div>
        </form>
        <div class="role">
        <div *ngIf="!userloginclicked">
          <a routerLink="login">User Login</a>
        </div>
        <div>
          <a routerLink="admin">Admin Login</a>
        </div>
    </div>
</div>
