.login{
    width: 100%;
    height: 100vh;
    background: url(https://images6.alphacoders.com/908/908160.jpg);
    background-size: cover;
}
.role{
    width: 95%;
    display: flex;
    justify-content: space-around;
}
.role div{
    background-color: black;
    margin-top: 30px;
    height: 40px;
    width: 150px;
    transition: all .8s ease;
}
.role div:hover{
    transform: scale(1.1);
}

.role div a{
    display: flex;
    text-decoration: none;
    color: aliceblue;
    justify-content: center;
    padding: 10px;
    font-weight: 600;
}